# System Files
.DS_Store

# IDE - VSCode
.vscode/
.idea/

# IDE - Kdevelop
*.kdev4

# Autoenv
.env

# Virtual env
__pycache__/
__venv__/
venv

# Build using setup.py
dist/
build/
*.egg-info

# Coverage
.coverage
htmlcov/

